<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tamplate EJS Set Up</title>
</head>
<!-- style -->
<style>
body{
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1{
  color:rgba(0, 123, 255, 1);
  font-size: 30px;
}


</style>

<body>
  <h1>Welcome to EJS Template Engine Setup by <%= name %> </h1>
</body>
</html>